@use '@carbon/type';
@use '@carbon/themes/scss/themes' as *;
@use '@carbon/themes' with (
  $theme: $g100
);

@forward '@carbon/type';
@forward '@carbon/themes' hide $prefix;
@forward '@carbon/colors';
@forward '@carbon/layout';

@include type.reset();

:root {
  @include themes.theme();
}
