@use './_carbon' as *;

html, body, #app {
  height: 100%;
  width: 100vw;
}

body {
  background-color: $background;
  color: $text-primary;
  margin: 0;
  padding: 0;
  @include type-style('body-compact-01');
}

h1, h2, h3, h4, p {
  margin: 0;
}

h4 {
  font-size: type-scale(1);
  color: $blue-50;
  border-bottom: 1px solid $gray-80;
  padding: $spacing-03 0;
  margin-bottom: $spacing-01;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  background-color: transparent;
  border: none;
  color: $text-secondary;
  cursor: pointer;
  border-radius: 0;

  &:active {
    background-color: $gray-80;
  }
}

section {
  margin-bottom: $spacing-07;
}
